/sites/*/files
/sites/*/private
/files/*
/cache
/sites/default/**/files
/sites/default/**/private
/sites/*/local.settings.php
/sites/*/prod.settings.php
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.log
*.sql
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
._*
*.un~
.sass-cache
sftp-config.json
.idea
.buildpath
.project
.settings*
*.sublime-project
*.sublime-workspace
codekit-config.json
config.codekit
.codekit-cache
node_modules
temp