html.admin-roam {
	/* body.logged-in{
		padding-top: 0px !important;

		.toolbar, .toobar-drawer {
			display: none;
		}

		header#page-header {
			top: 0px;
		}

		nav#navbar-administration {
			display: none;
		}

		div#tabs {
			display: none;
		}

		div.edit-page-button {
			display: none;
		}

		div#block-workbench-block {
			display: none;
		}
	} */
}

.admin-tool-toggle {
	display: none;
	clear: both;
	margin-top: 4rem;

	h2 {
		display: none;
	}

	p {
		text-align: left;
	}
	a {
		margin-left: 1rem;
		padding: .5rem;
		background-color:  $mediumGrey;
		color: $white;
		text-decoration: none;
		cursor: pointer;
		i {
			//@extend .ss-binoculars;
			//margin-right: .5rem;
			&::before {
				//font-family: 'SSSymbolicons';
			}
		}
		&.active {
			background-color: $brand;
		}
	}
}
