// !Drupal admin tabs
.tabs.primary {
	@extend .nav;
	@extend .pagination;
	line-height: 1em;
	li.active {
		background: $tintBlue;
		color: $mainColor;
	}
}
// CK Editor helpers
#ckeditor_custom_id {
	background:$white;
	padding:$column-gutter;
	.footnotes {
		background:transparent;
		padding: 1rem 0 0;
	}
}
