.mediacore-video-container {
	h3.modal-header {
		display:none;
	}

	text-align: center;

	iframe {
		margin: 0 auto;
		width: 640px;
		height: 360px;
	}

	p {
		text-align: left;
		padding: 0 10%;
	}
}