.cas-netid-block {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid #ccc;

	p {
		color: #777777;
		font-style: italic;
		font-size: 0.75rem;
		line-height: 1.25em;
	}

	a.button {
		font-size: 1rem;
		display: inline-block;
	}
}

.form-item-cas-identifier {
	//display: none;
}