$icon-info-sign: "\f05a";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-picture: "\f03e";
$icon-external-link: "\f08e";
$icon-camera: "\f030";
$icon-book: "\f02d";
$icon-table: "\f0ce";
$icon-globe: "\f0ac";
$icon-bar-chart: "\f080";
$icon-play-sign: "\f144";
$icon-dollar: "\f155";
$icon-slide: "\e600";
$icon-question: "\f059";
$icon-remove: "\f067";
$icon-calendar: "\f073";
$icon-check-circle: "\f05d";
$icon-circle: "\f10c";
$icon-map-marker: "\f041";
$icon-home: "\f015";
$icon-chevron-right: "\f054";
$icon-chevron-left: "\f053";
$icon-angle-right: "\f105";
$icon-angle-left: "\f104";
$icon-reorder: "\f0c9";
$icon-file: "\f15b";
