#edit-field-document-grid-und-0-field-icon {
	.description  .icon-boundry{
		columns:5;
		display: block;
		max-width: 90%;
		white-space: normal;

		> span {
			display: block;
			margin-bottom: .5rem;

			i {
				font-size: 18px;
			}
		}
	}
}